__pycache__
src/__pycache__
tests/__pycache__
src/lightning_logs
src/trained_models
src/runs
parameters_crash.yaml
parameters_trained_*.yaml
res
params/parameters_trained*
measurement/data_raw*
outputs
archive
log
models/knee/assets